// Variabler för färgsättning
$background-light: #f0f0f0;
$background-dark: #333;
$text-light: #fff;
$text-dark: #000;
$screen-color-light: #ccc;
$screen-color-dark: #444;
$status-bar-light: #b9b9b9;
$status-bar-dark: #3b3b3b;
$button-color-light: #fff;
$button-color-dark: #333;