// Variabler för färgsättning
$background-light: #dbdbdb;
$background-dark: #333333;
$text-light: #fff;
$text-dark: #000;
$screen-color-light: #ffffff;
$screen-color-dark: #555555;
$status-bar-light: #eeeeee;
$status-bar-dark: #444444;
$button-color-light: #fff;
$button-color-dark: #333;
$button-true: #4caf50;
$button-false: #f44336;
$button-true-hover: #6d9952bb;
$button-false-hover: #ff4444bb;
$button-layout: #f5f5f5;