@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;
    gap: 20px;

    &.dark-mode {
        background-color: black;
    }

    img {
        height: 35px;
    }
}